<body>

<h1>
    Connexion ou <a href="{{path('user_register')}}">Inscription</a>
</h1>


{% if error.messageKey is defined %}
    {{ error.messageKey|trans(error.messageData, 'security') }}
{% endif %}


{{ form(form) }}


<a href="{{path('customer_forgot_password')}}">Mot de passe oublié ?</a>


</body>
