<body>

<h1>Bienvenue sur l'interface d'administration</h1>



<h3><a href="{{path('admin_card_management')}}">Administration des cartes</a></h3>

<h3><a href="{{path('admin_employee_management')}}">Administration des Employés</a></h3>

<h3><a href="{{path('admin_center_management') }}">Administration des centres</a></h3>


</body>