{% extends "layout.html.twig" %}

{% block page_title %}
    Liste des cartes
{% endblock %}

{% block content %}

<h1>Voici les cartes créées :</h1>

<table border="1px;">

    <tr>
        <th>Numéro de carte</th>
        <th>Utilisateur de la carte</th>
    </tr>

    {% for card in cards %}

        <tr>
            <td>{{ card.cardnumber }}</td>
            {%  if card.customer != null %}
                <td>{{ card.customer.username }}</td>
            {% else %}
                <td>Pas d'utilisateur</td>
            {%  endif %}
        </tr>

    {% endfor %}




</table>

{% endblock %}



