<body>



<h1>Bienvenue sur l'interface d'administration des centres</h1>

<h3><a href="{{path('admin_add_center')}}">Créer un Centre</a></h3>

<h3><a href="{{path('admin_delete_center')}}">Supprimer un Centre</a></h3>

</body>