<body>

{% if success is defined %}
    <p style="color:gold;">{{ success }}</p>
{% endif %}

<h1>Bienvenue sur l'interface d'administration des joueurs</h1>

<h3><a href="{{path('employee_create_card')}}">Créer une carte</a></h3>

<h3><a href="{{ path('index') }}">Revenir à l'accueil</a></h3>


</body>