<html>
    <head>
        <title>Emailing</title>
    </head>
    <body>
        <center>
        <table align="center" cellpadding="0" cellspacing="0" border="0" width="800">
            <tr>
                <td style="font-size: 12px; padding: 10px;">
                    {% block body %}{% endblock %}
                </td>
            </tr>
            <tr>
                <td height="10">
                    <font style="font-size: 1px;">&nbsp;</font>
                </td>
            </tr>
            <tr>
                <td valign="middle" align="left" style="border-top: 1px solid #cccccc; padding-top: 10px; font-size: 11px; color: #999999">
                    &nbsp;
                </td>
            </tr>
        </table>
        </center>
    </body>
</html>
