    Bonjour<br><br>

    Voici le lien pour réinitialiser votre mot de passe : <a href="http://localhost:8000/reset_password?user={{ param }}">Réinitialiser votre mot de passe</a><br><br>

    Cordialement<br><br>

    L'équipe du Lasergame WF3