{% extends "layout.html.twig" %}

{% block page_title %}
    Manager les scores
{% endblock %}

{% block content %}

    <h1>Bienvenue sur l'interface d'administration des scores</h1>

    {{ form(form) }}

{% endblock %}