{% extends "layout.html.twig" %}

{% block page_title %}
    Mot de passe oublié
{% endblock %}

{% block content %}


    <h1>Veuillez renseigner votre nom d'utilisateur</h1>

    {{ form(form) }}


    <a href="{{path('security_login')}}">Retour</a>
    <hr>



{% endblock %}