{% extends "layout.html.twig" %}

{% block page_title %}
    Réinitialisation du mot de passe
{% endblock %}

{%  block content %}

<h1>Veuillez entrer un nouveau mot de passe</h1>

{{ form(form) }}


<a href="{{path('security_login')}}">Retour</a>
<hr>

{% endblock %}